@layer utilities {
  .tracking-widest {
    letter-spacing: .1em;
  }
  body {
    @apply bg-dark-100 text-sm text-white font-primaryFont
  }
  .container {
    @apply w-container mx-auto px-4
  }
  @media(max-width: 992px) {
    .container {
      @apply w-full mx-auto px-4
    }
  }
  .clip-area {
    clip-path: polygon(100% 0, 80% 50%, 100% 100%, 0 100%, 0 0);
    transition: all .5s .5s ease;
    z-index: -1;
  }
  .blur-image {
    width: 590px;
    height: 590px;
    position: relative;
    border-radius: 50%;
    &:after {
      position: absolute;
      content: "";
      background: url(../circle.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 590px;
      height: 590px;
      top: 0px;
      left: 0px;
      animation: rotate_animi linear 60s infinite;
      -webkit-animation: rotate_animi linear 60s infinite;
  }
    img {
      width: 100%;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  .bg-banner {
    background: url(../banner_bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    padding-top: 120px;
    @media(max-width: 992px) {
      padding-top: 0;
    }
  }
  @keyframes rotate_animi {
    from {
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
    }
  }

  .header__body-burger--active .header__body-burger-icon {
    transform: rotate(45deg)
  }

  .header__body-burger-icon .line {
      fill: none;
      transition: stroke-dasharray 0.5s,stroke-dashoffset 0.5s;
      stroke: #fff;
      stroke-width: 5.5;
      stroke-linecap: round
  }

  .header__body-burger-icon .bottom,.header__body-burger-icon .top {
      stroke-dasharray: 40 121
  }

  .header__body-burger--active .header__body-burger-icon .bottom,.header__body-burger--active .header__body-burger-icon .top {
      stroke-dashoffset: -68px
  }

  @media(max-width: 992px) {
    .blur-image {
      width: 100%;
      height: 100%;
  }
    .blur-image:after {
        width: 100%;
        height: 100%;
        background: none;
    }
  }
}